<!-- <span>
  <h2>{{title}} app is running</h2>
</span>

<div class="container">
  <h4>Parent Component</h4>
  <p>
    To send whatever is entered in the text feild to child component <br>
    Enter the name :
    <input type="text" class="form-control" [(ngModel)]="EnterName" />
    Enter the age:
    <input type="text" class="form-control" [(ngModel)]="EnterAge" />
    Marital status:
    <input type="text" class="form-control" [(ngModel)]="EnterStatus" />
    <input type="button" value="send" (click)="transferData()" class="btn btn-primary">
  </p>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" [(ngModel)]="filePath">
      <label class="input-group-text" for="inputGroupFile02" (change)="onFileSelected($event)">Upload</label>
    </div>




  <app-home [parentData1]="ParentData1" [parentData2]="ParentData2" [parentData3]="ParentData3"
    [parentData4]="parentData4"></app-home><br>

  <h4>Recieved from child {{value}}</h4>
  <app-about (sendData)="sendData($event)"></app-about>
</div> -->

<!-- <app-pro-child></app-pro-child> -->
<app-pro-parent></app-pro-parent>